@model IEnumerable<tramiauto.Web.Models.Entities.Usuario>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />


<!-- Main -->
<div id="main">

    <div class="row">
        <div class="col-md-4"> <h4>Usuarios</h4></div>
        <div class="col-md-4 offset-md-4">
            <a asp-action="Create" class="btn"><i class="fa fa-user-plus"></i> Nuevo Usuario</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="TableTA" class="display compact hover" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FixedPhone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FixedPhone)
                            </td>
                            <td>
                                <a asp-action="Details" class="btn btn-default" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i> </a>
                                <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.Id"><i class="fa fa-edit"></i> </a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"> </i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <partial name="_DeleteDialog" />

    @section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#TableTA').DataTable({ "language": { "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json" } });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => { item_to_delete = e.currentTarget.dataset.id; });

            $("#btnYesDelete").click(function () { window.location.href = '/Owners/Delete/' + item_to_delete; });
        });

    </script>
    }

</div>
<!-- Main -->
