@{ var menuRight = ViewBag?.MenuRight == null ? new List<tramiauto.Common.Model.Menu>() : ViewBag?.MenuRight; }

@{ var menuLeft = ViewBag?.MenuLeft == null ? new List<tramiauto.Common.Model.Menu>() : ViewBag?.MenuLeft; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal Tramiauto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/LogoIcon.png" alt="Tramiauto" width="50" height="50" /></a>}
                else
                {<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portal</a>}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <!-- MENU DERECHO INI -->
                    <ul class="navbar-nav ">

                        @foreach (var m in @menuRight)
                        {
                            <li><a asp-area="" asp-controller="@m.Controller" asp-action="@m.PageName"><i class="@m.Icon"></i> @m.Title </a> </li>
}
                    </ul>
                    <!-- MENU DERECHO FIN -->
                    <!-- MENU IZQUIERDO INI -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a> </li>
                        @foreach (var m in @menuLeft)
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="@m.Controller" asp-action="@m.PageName"><i class="@m.Icon"></i> @m.Title </a> </li>
                        }
                    </ul>
                    <!-- MENU IZQUIERDO FIN -->
                </div>
            </div>
        </nav>
    </header>
    <div class="container box-shadow-raduis">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br /><br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Portal Tramiauto - <a asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa fa-file"></i> Política de Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
